# dependencies
node_modules/
frontend/node_modules/

# env files (VERY IMPORTANT)
.env
backend/.env
frontend/.env

# logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# build / dist
dist/
build/
frontend/dist/

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

# temporary files
*.tmp
*.temp

# coverage
coverage/

# optional safety
config/*.env